.card-header-small {
    padding: 0.25rem 1.25rem;
    padding-top: 0.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
    margin-bottom: 0.2rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body-hizmet {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

hr {
    margin-bottom: 0.2rem;
    margin-top: 0rem;
}
.menu-sidebar .navbar__list .navbar__sub-list {
    display: none;
    padding-left: 12px;
}
.navbar-sidebar .navbar__list li a{
    font-size: 15px;
    padding: 15px 0;
}
.table td, .table th{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.btn-sm-round {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 1rem;
}
.text-center-spinner{
    width: 100%;
    position: relative;
    height: 100%;
}

.spinner-border {
    display: block;
    position: fixed;
    top: calc(50% - (58px / 2));  
    right: calc(50% - (58px / 2));
    color: red;
}

#backdrop {
  position:absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgb(0,0,0,0.2);
}
.bg-flat-color-secondary {
    background: #e9ecef;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.navbar-sidebar {
    padding: 15px;
    padding-bottom: 0;
}
.menu-sidebar .navbar__list .navbar__sub-list li a {
    padding: 11.5px 0;
    font-size: 12px;
}
.btn-bar-sm {
    padding: 0.1rem 0.25rem;
    font-size: 0.5rem;
    border-radius: 1rem;
}
.btn-append-sm{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-prepend-sm{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bg-black {
    background-color: #000!important;
}

.bg-white {
    background-color: #fff!important;
}
.input-group-addon-inlet{
    padding: 0.5rem .75rem;
    margin-left: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
}
.modal-dialog .overlay {
display: -ms-flexbox;
display: flex;
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: -1px;
z-index: 1052;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
background-color: rgba(0,0,0,.7);
color: #666f76;
border-radius: .3rem;
}
.modal-backdrop.in {
	opacity: 0.9;
}

.bg-gecmis {
  color: #fff;
  background-color: #ff006ade;
  border-color: #ff006ade;
}

.bg-bitmis {
  color: #fff;
  background-color: #ff00d4fb;
  border-color: #ff00d4fb;
}
.form-control-xs {
    height: 20px!important;
    font-size: .75rem !important;
    border-radius: .2rem;
    padding: .025rem .025rem !important;
}